body {
    font-family: "Tahoma", Geneva, sans-serif;
    background-color: #eeeeee;
    margin: 0; 
    padding: 0;
}

.menuLink {background-color:#770000;color:#eeeeee;text-decoration:none;}
.menuLink2 {background-color:#880000;color:#eeeeee;text-decoration:none;}

.menuLink:hover {background-color:#880000;color:#eeeeee;text-decoration:none;}

.BLACKmenuLink {background-color:#111111;color:#eeeeee;text-decoration:none;}
.BLACKmenuLink2 {background-color:#222222;color:#eeeeee;text-decoration:none;}

.BLACKmenuLink:hover {background-color:#222222;color:#eeeeee;text-decoration:none;}

.sidebarThing {
    max-width: 100% !important;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2000;
}

.logo {
    position: relative;
    width: 80px; 
    height: auto;
    background-color: rgba(0, 0, 0, 0.27)
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.nav {
    background-color:  #af0000;
}

.nav.nav-pills .nav-link {
    border-radius: 0;
    color: white;
    font-size: 1.2vw;
    padding: 25px;
    transition: background-color 0.5s;
}


.nav-link-mobile {
    border-radius: 0;
    color: white;
    font-size: 20px;
    padding: 5px;
    transition: background-color 0.5s;
}

.nav-item-mobile {
    border-radius: 0;
    color: white;
    font-size: 20px;
    padding: 5px;
    transition: background-color 0.5s;
}

.nav.nav-pills .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.07);
    transition: background-color 0.5s;
}

.nav.nav-pills .nav-link.active {
    background-color: #990000;
}

.list-group-item.list-group-item-action.active {
    background-color: #990000;
    border: none;
}

.list-group-item.list-group-item-action {
    background-color:  #af0000;
    color: white;
    border: none;
    transition: background-color 0.5s;
}

.list-group {
    background-color: #af0000;
    border: none;
}

.mobile-list-group {
    padding-left:0px;
    padding-right:0px;
    width:100%;
    z-index:100;
    overflow: auto;
    height: 100%;
}

.list-group-item.list-group-item-action:hover {
    background-color: rgba(0, 0, 0, 0.07);
    color: white;
    border: none;
    transition: background-color 0.5s
}

thead.thead-red {
    background-color:  #af0000;
    color: white;
}

.headerText {
    color:  #af0000;
    font-size: 35px;
}

#footer {
    background-color: #af0000;
    width: 100%;
    text-align: center;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

#footer_sections {
    display: block;
    text-align: left;
}

#footer .footer_section {
    border-left: solid white 2px;
    display: inline-block;
    padding: .5em;
    margin: 1.5em 2.5em;
    vertical-align: top;

    text-align: left;

    font-size: 16pt;
    color: white;
}

#footer .footer_section * {
    margin-top: .5em;
    margin-bottom: .5em;
}

#footer a {
    display: block;
    text-decoration: none;
    color: white;
}

#footer a:hover {
    color: #676767;
}

#footer h1 {
    font-size: 20pt;
    font-weight: bold;
}