{% include './header.html' %}
{% include './sidebar.html' %}


<p style="font-size:50px;color:#700;margin:0">Events</p>

{% for event in events %}
<div style="text-align:left;padding-left:20px;padding-right:20px">
<p style="font-size:25px;color:#700;margin:0"><b>{{event.date.month}}/{{event.date.day}}/{{event.date.year}}</b> | {{event.title}}</p>
<p>{{event.content}}</p>
{% if event.file_set.all %}
<p>Attachments:</p>

{% for file in event.file_set.all %}
<p style="margin:0"><a href="{{file.file.url}}">{{file.file.name}}</a></p>
{% endfor %}
{% else %}
<p>No attachments</p>
{% endif %}

<div style="height:3px;background-color:#700"></div><br>
</div>
{% endfor %}