<!-- NECESSARY STUFF -->
{% extends 'base.html' %}

{% block body %}
{% load tz %}

<!-- NECESSARY STUFF -->

<!--<p style="font-size:50px;color:#700;margin:0">Today's Events</p>-->

<!--{% for event in today %}
<div class="card">
<div class="card-body">
<div style="text-align:left;padding-left:20px;padding-right:20px">
<p class="card-title headerText">{{event.title}}</p>
{% timezone "America/New_York" %}

<p style="font-size:25px;color:#700;margin:0"><b>{{event.date.month}}/{{event.date.day}}/{{event.date.year}}</b> | {{event.date.hour}}:{{event.date.minute}}</p>
<p>{{event.content}}</p>
{% endtimezone %}

</div>
</div>
</div>
<!--{% if event.file_set.all %}
<p>Attachments:</p>

{% for file in event.file_set.all %}
<p style="margin:0"><a href="{{file.file.url}}">{{file.file.name}}</a></p>
{% endfor %}
{% else %}
<p>No attachments</p>
{% endif %}-->


{% endfor %}-->

<p style="font-size:50px;color:#700;margin:0">This Week's Events</p>

{% for event in thisWeek%}
<div class="card">
<div class="card-body">
<div style="text-align:left;padding-left:20px;padding-right:20px">
<p class="card-title headerText">{{event.title}}</p>
{% timezone "America/New_York" %}

<p style="font-size:25px;color:#700;margin:0"><b>{{event.date}}</b></p>
<p>{{event.content}}</p>
{% endtimezone %}

</div>
</div>
</div>
<!--{% if event.file_set.all %}
<p>Attachments:</p>

{% for file in event.file_set.all %}
<p style="margin:0"><a href="{{file.file.url}}">{{file.file.name}}</a></p>
{% endfor %}
{% else %}
<p>No attachments</p>
{% endif %}-->


{% endfor %}


<p style="font-size:50px;color:#700;margin:0">Upcoming Events</p>

{% for event in upcoming%}
<div class="card">
<div class="card-body">
<div style="text-align:left;padding-left:20px;padding-right:20px">
<p class="card-title headerText">{{event.title}}</p>
{% timezone "America/New_York" %}

<p style="font-size:25px;color:#700;margin:0"><b>{{event.date}}</p>
<p>{{event.content}}</p>
{% endtimezone %}

</div>
</div>
</div>
<!--{% if event.file_set.all %}
<p>Attachments:</p>

{% for file in event.file_set.all %}
<p style="margin:0"><a href="{{file.file.url}}">{{file.file.name}}</a></p>
{% endfor %}
{% else %}
<p>No attachments</p>
{% endif %}-->


{% endfor %}

</div>
<script>
document.getElementById("eventsLink").classList.add("active");
</script>
<!-- NECESSARY STUFF -->
{% endblock %}
<!-- NECESSARY STUFF -->