<!-- NECESSARY STUFF -->
{% extends 'base.html' %}

{% block body %}
<!-- NECESSARY STUFF -->

<p style="font-size:50px;color:#700;margin:0">Events</p>

{% for event in events %}
<div class="card">
<div class="card-body">
<div style="text-align:left;padding-left:20px;padding-right:20px">
<p class="card-title headerText">{{event.title}}</p>
<p style="font-size:25px;color:#700;margin:0"><b>{{event.date.month}}/{{event.date.day}}/{{event.date.year}}</b> | </p>
<p>{{event.content}}</p>

</div>
</div>
<!--{% if event.file_set.all %}
<p>Attachments:</p>

{% for file in event.file_set.all %}
<p style="margin:0"><a href="{{file.file.url}}">{{file.file.name}}</a></p>
{% endfor %}
{% else %}
<p>No attachments</p>
{% endif %}-->


{% endfor %}
<script>
document.getElementById("eventsLink").classList.add("active");
</script>
<!-- NECESSARY STUFF -->
{% endblock %}
<!-- NECESSARY STUFF -->