<div id="footer" class="no-select">
    <div id="footer_sections">
        <div class="footer_section">
            <p>&copy; 2020 Sysops</p>
        </div>
        <div class="footer_section">
            <p>Maintained by the Montgomery Blair Webmasters under the supervision of Peter Hammond</p>
        </div>
    </div>
</div>

<div id="footerMOBILE" class="redBack no-select">
    <div class="col" id="footer_sections">
        <div class="footer_section">
            <p>&copy; 2020 Sysops</p>
            <p>Maintained by the Montgomery Blair Webmasters under the supervision of Peter Hammond</p>
        </div>
    </div>
</div>

<script>
if (window.innerWidth < 600) {
document.getElementById("footer").style.display="none"
} else {
document.getElementById("footerMOBILE").style.display="none"

}

</script>
