{% load static %}
<header id="mainHeader">
    <ul class="nav nav-pills">
        <a class="nav-item" href="#"><img class="logo" src="/media/mbhs.png"/></a>
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Academies</a>
        <a class="nav-link" href="#">Alumni</a>
        <a class="nav-link" href="#">Athletics</a>
        <a class="nav-link" href="#">Calendar</a>
        <a class="nav-link" href="#">Clubs</a>
        <a class="nav-link active" href="#">Counseling</a>
        <a class="nav-link" href="#">Departments</a>
        <a class="nav-link" href="#">Directory</a>
        <a class="nav-link" href="#">News</a>
        <a class="nav-link" href="#">PTSA</a>
    </ul>
</header>

<header id="mobileHeader" style="display:none">
    <ul class="nav nav-pills">
    <div class="nav-item-mobile-no-pad mobileMenu" onclick="showMenu()" href="#"><img id="mobileLogo" class="logo" src="/media/mbhs.png" style="height:40px;width:40px"></div>
    <div class="nav-item-mobile">MBHS Counseling</div>
    </ul>
</header>
