<!-- NECESSARY STUFF -->
{% extends 'base.html' %}

{% block body %}
<!-- NECESSARY STUFF -->

<!-- Content here -->
<div class="row">
  <figure style="width: 100%; overflow: hidden; height: 66vh;"><img src="/media/oof.jpg" style="width:100%; display: block;"></figure>
</div>
<div class="row">
  <div class="col-6">
    <table class="table table-striped nameTable">
      <thead class="thead-red">
        <tr>
          <th scope="col">Student's Last Name</th>
          <th scope="col">Counselor</th>
        </tr>
      </thead>
      <tr>
        <td>A-Bl</td>
        <td>Ms. Raolat Agbedina</td>
      </tr>
      <tr>
        <td>Bm-C</td>
        <td>Mr. Kirk Simms</td>
      </tr>
      <tr>
        <td>D-F</td>
        <td>Mr. Kareef Overton</td>
      </tr>
      <tr>
        <td>G-He</td>
        <td>Ms. Emily Putney</td>
      </tr>
      <tr>
        <td>Hf-La</td>
        <td>Mr. Timothy Rossini</td>
      </tr>
      <tr>
        <td>Lb-Mg</td>
        <td>Ms. Mackenzie Cho</td>
      </tr>
      <tr>
        <td>Mh-Pe</td>
        <td>Mr. Alphonso Burwell</td>
      </tr>
      <tr>
        <td>Pf-Sa</td>
        <td>Ms. Antia Reddicks</td>
      </tr>
      <tr>
        <td>Sb-Ts</td>
        <td>Ms. Rachel Greene</td>
      </tr>
      <tr>
        <td>Tt-Z</td>
        <td>Ms. Belvey Russ</td>
      </tr>
      <tr>
        <td>METS and ESOL 1-3 Students</td>
        <td>Ms. Lia Contreras</td>
      </tr>
      <tr>
        <td>ESOL 4-5</td>
        <td>Ms. Jennifer Poole</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-6" style="height:500px">
<a class="twitter-timeline" href="https://twitter.com/MBHSCounseling?ref_src=twsrc%5Etfw">Tweets by MBHSCounseling</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
<!-- NECESSARY STUFF -->
{% endblock %}
<!-- NECESSARY STUFF -->

<script>
document.getElementById("twitter-timeline").dataHeight = document.getElementById("nameTable").offsetHeight;

</script>