

{% include './header.html' %}
{% include './twitter.html' %}
<table width="75%" border="1" align="center">
    <tbody><tr>
      <th width="33%" valign="top" scope="col">Student's Last
        Name Begins With:</th>
      <th width="33%" valign="top" scope="col">Counselor</th>
    </tr>
    <tr>
      <td width="33%" valign="top">A-Bl</td>
      <td width="33%" valign="top">Ms. Raolat Agbedina</td>
    </tr>
    <tr>
      <td width="33%" valign="top">Bm-C</td>
      <td width="33%" valign="top">Mr. Kirk Simms</td>
    </tr>
    <tr>
      <td width="33%" valign="top">D-F</td>
      <td width="33%" valign="top">Mr. Kareef Overton</td>
    </tr>
    <tr>
      <td width="33%" valign="top">G-He</td>
      <td width="33%" valign="top">Ms. Emily Putney</td>
    </tr>
    <tr>
      <td width="33%" valign="top">Hf-La</td>
      <td width="33%" valign="top">Mr. Timothy Rossini</td>
    </tr>
    <tr>
      <td width="33%" valign="top">Lb-Mg</td>
      <td width="33%" valign="top">Ms. Mackenzie Cho</td>
    </tr>
    <tr>
      <td width="33%" valign="top">Mh-Pe</td>
      <td width="33%" valign="top">Mr. Alphonso Burwell</td>
    </tr>
    <tr>
      <td width="33%" valign="top">Pf-Sa</td>
      <td width="33%" valign="top">Ms. Antia Reddicks</td>
    </tr>
    <tr>
      <td valign="top">Sb-Ts</td>
      <td valign="top">Ms. Rachel Greene</td>
    </tr>
    <tr>
      <td width="33%" valign="top">Tt-Z</td>
      <td width="33%" valign="top">Ms. Belvey Russ</td>
    </tr>
    <tr>
      <td valign="top">METS and ESOL 1-3 Students</td>
      <td valign="top">Ms. Lia Contreras</td>
    </tr>
    <tr>
      <td valign="top">ESOL 4-5</td>
      <td valign="top">Ms. Jennifer Poole</td>
    </tr>
  </tbody></table>
<div style="height:20px;background-color:#aa0000;margin:0"></div>


{% include './sidebar.html' %}



