<!-- NECESSARY STUFF -->
{% extends 'base.html' %}

{% block body %}
<!-- NECESSARY STUFF -->

<!-- Content here -->
<div class="row">
  <figure style="width: 100%; overflow: hidden; height: 66vh;"><img src="/media/oof.jpg" style="width:100%; display: block;"></figure>
</div>
<div class="row">
<div class="col-12" class="headerText" style="text-align:center">
<a class="headerText" style="text-align:center" href="https://docs.google.com/forms/d/e/1FAIpQLSdyIrtRv1Kg4lCMIiMbjAwGuqTG3Bg8hrPeeY5CjTykh388OA/viewform">Click here to request an appointment!</a>
</div>
  <div class="col-6" id="nameTable">
    <table class="table table-striped">
      <thead class="thead-red">
        <tr>
          <th scope="col">Student's Last Name</th>
          <th scope="col">Counselor</th>
        </tr>
      </thead>
      <tr>
        <td>A-Bl</td>
        <td>Ms. Raolat Agbedina</td>
      </tr>
      <tr>
        <td>Bm-C</td>
        <td>Mr. Kirk Simms</td>
      </tr>
      <tr>
        <td>D-F</td>
        <td>Mr. Kareef Overton</td>
      </tr>
      <tr>
        <td>G-He</td>
        <td>Ms. Emily Putney</td>
      </tr>
      <tr>
        <td>Hf-La</td>
        <td>Mr. Timothy Rossini</td>
      </tr>
      <tr>
        <td>Lb-Mg</td>
        <td>Ms. Mackenzie Cho</td>
      </tr>
      <tr>
        <td>Mh-Pe</td>
        <td>Mr. Alphonso Burwell</td>
      </tr>
      <tr>
        <td>Pf-Sa</td>
        <td>Ms. Antia Reddicks</td>
      </tr>
      <tr>
        <td>Sb-Ts</td>
        <td>Ms. Rachel Greene</td>
      </tr>
      <tr>
        <td>Tt-Z</td>
        <td>Ms. Belvey Russ</td>
      </tr>
      <tr>
        <td>METS and ESOL 1-3 Students</td>
        <td>Ms. Lia Contreras</td>
      </tr>
      <tr>
        <td>ESOL 4-5</td>
        <td>Ms. Jennifer Poole</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="twitterFeed"  class="col-6" style="height:500px">
<div id="twWrapper" style="display:none">
<a id="twitter-timeline" class="twitter-timeline" href="https://twitter.com/MBHSCounseling?ref_src=twsrc%5Etfw" data-height="800">Tweets by MBHSCounseling</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div id="twPlaceholder">
Twitter Feed is loading
</div>
</div>
<!-- NECESSARY STUFF -->
<!-- NECESSARY STUFF -->

<div class="col-6">
<p class="headerText">Upcoming Dates and Events</p>
{% for event in events %}
<div class="card">
<div class="card-body">
<div style="text-align:left;padding-left:20px;padding-right:20>
<p class="card-title headerText">{{event.title}}</p>
<p style="font-size:25px;color:#700;margin:0"><b>{{event.date}}</b></p>
<p>{{event.content}}</p>

</div>
</div>
</div>
{% endfor %}
</div>

<div class="col-6">
<p class="headerText">Google Drive</p>

<iframe src="https://drive.google.com/embeddedfolderview?id=14Us89aug0MD2xmS0w_caDPtdo2qehtoN#list" width="100%" height="500" frameborder="0"></iframe>

</div>
</div>
</div>
</div>
</div>
<script>
function loadTwit() {
document.getElementById("twitter-widget-0").style.height = document.getElementById("nameTable").offsetHeight + "px";
document.getElementById("twWrapper").style.display = "block";
document.getElementById("twPlaceholder").style.display = "none";

}
setTimeout(loadTwit,2000);

document.getElementById("homePageLink").classList.add("active");


</script>
{% endblock %}
