<div class="list-group float-left">
    <a href="#" class="list-group-item list-group-item-action active">Home</a>
    <a href="#" class="list-group-item list-group-item-action">Events</a>
    {% for object in objects %}
    <a href="{% url 'core:content' object.shortTitle %}" class="list-group-item list-group-item-action">{{ object.shortTitle }}</a>
    {% endfor %}
    <a href="#" class="list-group-item list-group-item-action external">Naviance</a>
    <a href="#" class="list-group-item list-group-item-action external">College Board</a>
</div>