<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    
.w3-theme {color:#fff !important; background-color:#770000 !important}
</style>

<div class="w3-container">
    <div class = "w3-card-4 w3-theme w3-right" align="center" style="width:25%">
        <div style="height:5px"></div>
            <a class="twitter-timeline" data-width="300" href="https://twitter.com/MBHSCounseling?ref_src=twsrc%5Etfw">Follow @MBHSCounseling On Twitter</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>  
</div>