{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title|default:"MBHS Counseling" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    <!---Load Bootstrap, JQuery, Ajax, and Javascript-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body onresize="headerPush();">
{% include 'core/header.html' %}

    <div id="mainContent" class="content">
<div class="mobile-list-group float-left" id="mobileMenu" style="display:none">
    <a id="homePageLink" href="{% url 'core:index' %}" class="list-group-item list-group-item-action">Home</a>
    <a id="eventsLink" href="{% url 'core:events' %}" class="list-group-item list-group-item-action">Events</a>
    {% for object in objects %}
    <a id="sidelink-{{object.id}}" href="{% url 'core:content' object.shortTitle %}" class="list-group-item list-group-item-action">{{ object.shortTitle }}</a>
    {% endfor %}
    <a href="#" class="list-group-item list-group-item-action external">Naviance</a>
    <a href="#" class="list-group-item list-group-item-action external">College Board</a>
</div>
            <div class="container-fluid ml-0 pt-3 mr-0" style="z-index:1"> 
                    <div class="row">
                        <div class="col-sm-2 sidebarThing" id="sidebarThing" style="z-index:100">
                            {% include 'core/sidebar.html' %}
                        </div>
                        <div class="col-sm-9">
                            {% block body %}c
                        
                            {% endblock %}
			<div class="headerText" style="padding:10px">Maintained by the Montgomery Blair Webmasters under the supervision of Peter Hammond</div>

                        </div>
                    </div>
            </div>
    </div>

</body>

        
<script>
function showMenu() {
if (document.getElementById("mobileMenu").style.position == "fixed") {
document.getElementById("mobileMenu").style.position = "static";
document.getElementById("mobileMenu").style.display = "none";

} else {
document.getElementById("mobileMenu").style.position = "fixed";
document.getElementById("mobileMenu").style.display = "block";
document.getElementById("mobileMenu").style.height = window.innerHeight - document.getElementById("mobileHeader").offsetHeight + "px";


}
}

function headerPush() {
    document.getElementById("mainContent").style.marginTop = document.getElementById("mainHeader").offsetHeight + "px";
}

function mHeaderPush() {
    document.getElementById("mainContent").style.marginTop = document.getElementById("mobileHeader").offsetHeight + "px";
}

if (window.innerWidth<600){
    document.getElementById("mainHeader").style.display = "none";
    document.getElementById("mobileHeader").style.display = "block";
    document.getElementById("mobileMenu").style.display = "none";
    mHeaderPush();
    document.getElementById("mainContent").onresize =mHeaderPush;
    document.getElementById("sidebarThing").style.display = "none";


} else {
    headerPush();

    document.getElementById("mainContent").onresize =headerPush;

}




</script>

</html>
